/* .box {
  background-color: #ffffff;
  box-shadow: none;
  height: 100px;
} */
/* .appbar {
  box-shadow: none;
  background-color: #ffffff;

  padding: 20px;
} */
.toolbar {
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.stack {
  width: 30%;
  display: flex;
  align-items: center;
}
.stack p {
  font-size: 18px;
}
.list-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.list {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.list:hover {
  color: #ff335f;
}
