.toolbar {
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.stack {
  width: 30%;
  display: flex;
  align-items: center;
}
.stack p {
  font-size: 18px;
}
.list-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.list {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.list:hover {
  color: #ff335f;
}
.name {
  font-size: 18px;
}
@media screen and (max-width: 850px) {
  .list-menu {
    width: 60%;
  }
  .stack {
    width: 40%;
  }
}
@media screen and (max-width: 710px) {
  .stack {
    width: 80%;
  }
  .name {
    font-size: 20px;
  }
}
